/* ANIMATION RESPONSIVE */

@media only screen and (min-device-width: 100px) and (max-device-width: 720px) {


    .fadein-top {
        -webkit-animation: fadeInBottom 2s both;
        -moz-animation: fadeInBottom 2s both;
        -o-animation: fadeInBottom 2s both;
        animation: fadeInBottom 2s both;
    }

    @-webkit-keyframes fadeInBottom {
        0% {
            opacity: 0;
            -webkit-transform: translateY(100px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @-moz-keyframes fadeInBottom {
        0% {
            opacity: 0;
            -moz-transform: translateY(100px);
        }

        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }

    @-o-keyframes fadeInBottom {
        0% {
            opacity: 0;
            -o-transform: translateY(100px);
        }

        100% {
            opacity: 1;
            -o-transform: translateY(0);
        }
    }

    @keyframes fadeInBottom {
        0% {
            opacity: 0;
            transform: translateY(100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* ANIMATION ENDS */


/* Header */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {

    .header .left {
        width: 40%;
    }

    .header .left h3 {
        font-size: 20px;
    }


    .menu-container {
        position: fixed;
        right: 0px;
        height: 70vh;
        width: 60%;
        z-index: 999;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        top: 0;
        flex-direction: column-reverse;
        padding-left: 20px;
        background-color: rgb(0, 0, 61);
        transition: 0.5s ease-in-out;
        transform: translateX(100%);
        border-radius: 5px;
        margin-top: 20px;
    }

    .menu-container .menu-left {
        height: 70%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        /* border: 2px solid white; */
    }

    .menu-container .menu-left ul {
        flex-direction: column;
        height: 100%;

    }

    .menu-container .menu-left ul li {
        padding: 10px 0;

    }



    .menu-container .menu-left ul li a {
        font-size: 20px;
        color: rgb(214, 214, 214);
    }

    .menu-container .menu-left ul li span {
        display: flex;
        color: white;
        margin-top: 70%;
        font-size: 40px;

    }

    .menu-container .right span {
        color: white;
        margin-left: 30%;
        border: 1px solid white;
        margin-bottom: 40%;
    }

    .hamburger-menu-container {
        display: flex;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .header {
        padding: 10px 5%;

    }

    .header .left h3 {
        font-size: 20px;
    }

    .menu-container {
        width: 70%;
    }

    .menu-container .menu-left ul li {
        margin: 0 5px;
    }

    .menu-container .menu-left ul li a {
        font-size: 18px;
    }

    .menu-container .right span {
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .header .left h3 {
        font-size: 25px;
    }

    .menu-container {
        width: 70%;
    }

    .menu-container .menu-left ul li {
        margin: 0 8px;
    }

    .menu-container .menu-left ul li a {
        font-size: 23px;
    }

    .menu-container .right span {
        font-size: 25px;
    }
}

/* Hero Section */

@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .hero-section {
        flex-direction: column;
        height: 105vh;
    }

    .hero-section .left {
        width: 100%;
        padding: 10px 10px;
    }

    .hero-text-container {
        width: 100%;
        padding-top: 30px;
        margin-bottom: 1%;
    }

    .hero-text-container span {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .hero-text-container h1 {
        font-size: 25px;
        line-height: 30px;
    }

    .hero-text-container h1 span {
        font-size: 30px;
    }

    .hero-text-container h4 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .hero-text-container p {
        font-size: 20px;
    }

    .hero-button-container {
        width: 100%;
        /* border: 1px solid red; */
    }

    .hero-button-link {
        width: 40%;
        margin-top: 20px;
    }

    .hero-button-container button {
        height: 40px;
        font-size: 12px;
    }

    .hero-section .right {
        width: 100%;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .hero-section {
        padding-top: 40px;
        flex-direction: column;
        height: 100vh;
    }

    .hero-section .left {
        width: 100%;
        padding: 20px 10px;
    }

    .hero-text-container {
        width: 100%;
        padding-top: 30px;
        margin-bottom: 2%;
    }

    .hero-text-container span {
        font-size: 17px;
        margin-bottom: 4px;
    }

    .hero-text-container h1 {
        font-size: 35px;
        line-height: 30px;
    }

    .hero-text-container h1 span {
        font-size: 37px;
    }

    .hero-text-container h4 {
        font-size: 18px;
        font-weight: 500;
    }

    .hero-text-container p {
        font-size: 20px;
    }

    .hero-button-container {
        width: 100%;
        /* border: 1px solid red; */
    }

    .hero-button-link {
        width: 30%;

    }

    .hero-button-container button {
        height: 40px;
        font-size: 12px;
    }

    .hero-section .right {
        width: 100%;
        /* border: 1px solid red; */
    }

    .hero-section .right img {
        width: 50%;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .hero-text-container span {
        font-size: 15px;
    }

    .hero-text-container h1 {
        font-size: 28px;
        line-height: 35px;
    }

    .hero-text-container h1 span {
        font-size: 32px;
    }

    .hero-text-container h4 {
        font-size: 16px;
    }

    .hero-text-container p {
        font-size: 20px;
    }

    .hero-button-link {
        width: 40%;
    }

    .hero-button-container {
        width: 100%;
        display: flex;
    }

    .hero-button-container button {
        width: 100%;
        height: 50px;

        font-size: 15px;

    }

    .hero-button-container button span {
        font-size: 16px;
    }
}

/*  About Section */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .about-section .about-container {
        flex-direction: column-reverse;
        margin-top: 60px;
    }

    .about-section .about-container .about-left {
        width: 100%;
    }

    .about-section .about-container .about-right {
        width: 100%;
    }

    .about-section .about-right h2 {
        font-size: 20px;
        text-align: center;
    }

    .about-right .sub-sec h3 {
        font-size: 17px;
    }

    .about-right .sub-sec h3 span {
        font-size: 20px;
    }

    .about-right .sub-sec p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .about-section .about-container {
        flex-direction: column-reverse;
        margin-top: 60px;
    }

    .about-section .about-container .about-left {
        width: 100%;
    }

    .about-section .about-container .about-right {
        width: 100%;
    }

    .about-section .about-right h2 {
        font-size: 30px;
        text-align: center;
    }

    .about-right .sub-sec h3 {
        font-size: 20px;
    }

    .about-right .sub-sec h3 span {
        font-size: 25px;
    }

    .about-right .sub-sec p {
        font-size: 17px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .about-section .about-container {
        align-items: center;
    }

    .about-section .about-right h2 {
        font-size: 20px;
        text-align: center;
    }

    .about-right .sub-sec h3 {
        font-size: 15px;
    }

    .about-right .sub-sec h3 span {
        font-size: 20px;
    }

    .about-right .sub-sec p {
        font-size: 14px;
    }
}

/* Skills And Testimonials Section */
@media only screen and (min-device-width: 200px) and (max-device-width: 327px) {
    .skills-testimonials-section {
        height: auto;
    }

    .skills-test-container {
        flex-direction: column;
    }

    .skills-test-container>.skills {
        width: 100%;
        /* border: 1px solid red; */
        height: 600px;
        justify-content: center;
        align-items: center;
        padding: 20px 0
    }

    .skills-test-container>.skills h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .skills .skills-cont {
        grid-template-columns: repeat(2, 37%);
        grid-template-rows: repeat(3, 30%)
    }

    .skill span {
        font-size: 35px;
    }

    .test-skills-img {
        width: 100%;
        height: 33%;
        /* border: 1px solid yellowgreen; */
    }

    .skills-test-container>.testimonials {
        width: 100%;
        height: 10%;
        /* border: 1px solid black; */
        padding-top: 30px;
    }

    .testimonials>h2 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }

    .testimonials .test-cont {
        height: 300px;
        /* border: 1px solid red; */
        padding: 0px 5px
    }

    .testimonial>.person-info img {
        width: 40%;
    }

    .testimonial>.person-info>.details {
        margin: 0 5px;
    }

    .person-info>.details>.name {
        font-size: 15px;
        letter-spacing: 0;
    }

    .person-info>.details>.position {
        font-size: 13px;
    }

    .testimonial>p {
        font-size: 10px;
    }
}

@media only screen and (min-device-width: 328px) and (max-device-width: 400px) {
    .skills-testimonials-section {
        height: auto;
    }

    .skills-test-container {
        flex-direction: column;
    }

    .skills-test-container>.skills {
        width: 100%;
        /* border: 1px solid red; */
        height: 600px;
        justify-content: center;
        align-items: center;
        padding: 20px 0
    }

    .skills-test-container>.skills h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .skills .skills-cont {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 30%)
    }

    .skill span {
        font-size: 35px;
    }

    .test-skills-img {
        width: 100%;
        height: 33%;
        /* border: 1px solid yellowgreen; */
    }

    .skills-test-container .testimonials {
        width: 100%;
        height: 10%;
        /* border: 1px solid black; */
        padding-top: 30px;
    }

    .testimonials>h2 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 0;
    }

    .testimonials .test-cont {
        padding: 0px 0px;
        height: 350px;
        /* border: 1px solid red; */
    }

    .testimonial>.person-info img {
        width: 30%;
        margin-right: 10px;
    }

    .testimonial>.person-info>.details {
        margin: 0 5px;
    }

    .person-info>.details>.name {
        font-size: 17px;
        letter-spacing: 0;
    }

    .person-info>.details>.position {
        font-size: 15px;
    }

    .testimonial>p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 401px) and (max-device-width: 600px) {
    .skills-testimonials-section {
        height: auto;
    }

    .skills-test-container {
        flex-direction: column;
    }

    .skills-test-container>.skills {
        width: 100%;
        /* border: 1px solid red; */
        height: 600px;
        justify-content: center;
        align-items: center;
        padding: 20px 0
    }

    .skills-test-container>.skills h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .skills .skills-cont {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 30%);
        /* border: 1px solid red; */
        width: 75%;
    }

    .skill span {
        font-size: 35px;
    }

    .test-skills-img {
        width: 100%;
        height: 33%;
        /* border: 1px solid yellowgreen; */
    }

    .skills-test-container .testimonials {
        width: 100%;
        height: 10%;
        /* border: 1px solid black; */
        padding-top: 30px;
    }

    .testimonials>h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0;
    }

    .testimonials .test-cont {
        padding: 0px 0px;
        height: 350px;
        /* border: 1px solid red; */
    }

    .testimonial>.person-info img {
        width: 25%;
        margin-right: 10px;
        border-radius: 90px;
        /* border: 1px solid red; */
    }

    .testimonial>.person-info>.details {
        margin: 0 5px;
    }

    .person-info>.details>.name {
        font-size: 25px;
        letter-spacing: 0;
    }

    .person-info>.details>.position {
        font-size: 20px;
    }

    .testimonial>p {
        font-size: 16px;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1090px) {
    .skills-testimonials-section {
        height: auto;
        padding: 5% 2%;
    }

    .skills-test-container {}

    .skills-test-container>.skills {
        width: 48%;
        /* border: 1px solid red; */
        height: 420px;
        justify-content: center;
        align-items: center;
        padding: 20px 0
    }

    .skills-test-container>.skills h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .skills .skills-cont {
        grid-template-columns: repeat(2, 47%);
        grid-template-rows: repeat(3, 33%);
        /* border: 1px solid red; */
        width: 100%;
    }

    .skill span {
        font-size: 25px;
    }

    .skill>#html,
    #css,
    #javascript,
    .nodejs,
    .git,
    .linkedin {
        width: 35px;
        height: 35px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }

    .test-skills-img {
        display: none;
    }

    .skills-test-container .testimonials {
        width: 48%;
        /* border: 1px solid black; */
        padding-top: 30px;
    }

    .testimonials>h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0;
    }

    .testimonials .test-cont {
        padding: 0px 0px;
        height: 310px;
        /* border: 1px solid red; */
    }

    .testimonial>.person-info img {
        width: 25%;
        margin-right: 10px;
        border-radius: 90px;
        /* border: 1px solid red; */
    }

    .testimonial>.person-info>.details {
        margin: 0 5px;
    }

    .person-info>.details>.name {
        font-size: 20px;
        letter-spacing: 0;
    }

    .person-info>.details>.position {
        font-size: 17px;
    }

    .testimonial>p {
        font-size: 13px;
    }
}

/* Gallery Section */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .gallery-section {
        padding: 40px 10px;
    }

    .gallery-container>h2 {
        font-size: 40px;
    }

    .gallery-container>h2>span {
        font-size: 50px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .gallery-section {
        padding: 80px 10px;
    }

    .gallery-container>h2 {
        font-size: 60px;
    }

    .gallery-container>h2>span {
        font-size: 80px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .gallery-section {
        padding: 80px 40px;
    }
}

/* Footer Section */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .footer-section {
        height: auto;
        padding: 20px 10px;
    }

    .footer-main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .footer-left {
        width: 100%;
    }

    .footer-left>a>h2 {
        font-size: 27px;
    }

    .footer-left>h4 {
        font-size: 13px;
    }

    .footer-center {
        width: 100%;
        text-align: right;
        /* border: 1px solid red; */
        padding-top: 30px;
    }

    .footer-center>.footer-menu {
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .footer-center>.footer-menu>a {
        font-size: 16px;
        margin: 5px 0;
    }

    .footer-copyright {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* border: 1px solid yellow; */
        text-align: center;
    }

    .footer-center>a {
        text-align: right;
        padding: 0 0;
        font-size: 16px;
    }

    .footer-right {
        width: 100%;
        grid-column: span 2;
        margin-top: 70px;
    }

    .footer-right>h5 {
        font-size: 20px;
        text-align: center;
    }

    .footer-right>form>input {
        width: 85%;
        height: 50px;
    }

    .footer-right>form>textarea {
        width: 85%;
        height: 120px;
    }

    .footer-right>form>.btn-container {
        width: 85%;
        height: 60px;
    }

    .btn-container>.footer-form-btn {
        height: 50px;
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .footer-section {
        height: auto;
        padding: 20px 24px;
    }

    .footer-main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .footer-left {
        width: 100%;
    }

    .footer-left>a>h2 {
        font-size: 35px;
    }

    .footer-left>h4 {
        font-size: 13px;
    }

    .footer-center {
        width: 100%;
        text-align: right;
        /* border: 1px solid red; */
        padding-top: 30px;
    }

    .footer-center>.footer-menu {
        padding: 0;
        margin: 0;
        text-align: right;
        border: 1px solid red;
        justify-content: flex-end;
    }

    .footer-center>.footer-menu>a {
        font-size: 19px;
        margin: 5px 3px;
    }

    .footer-copyright {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* border: 1px solid yellow; */
        text-align: center;
    }

    .footer-center>a {
        text-align: right;
        padding: 0 0;
        font-size: 19px;
    }

    .footer-right {
        width: 100%;
        grid-column: span 2;
        margin-top: 70px;
    }

    .footer-right>h5 {
        font-size: 35px;
        text-align: center;
    }

    .footer-right>form>input {
        width: 85%;
        height: 50px;
    }

    .footer-right>form>textarea {
        width: 85%;
        height: 120px;
    }

    .footer-right>form>.btn-container {
        width: 85%;
        height: 60px;
    }

    .btn-container>.footer-form-btn {
        height: 50px;
        font-size: 16px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .footer-section {
        height: auto;
        padding: 20px 24px;
    }

    .footer-main {
        /* border: 1px solid black; */
        align-items: flex-start;
    }

    .footer-left {
        /* border: 1px solid red; */
        height: 100%;
    }

    .footer-left>a>h2 {
        font-size: 35px;
    }

    .footer-center>.footer-menu>a {
        font-size: 17px;
    }

    .footer-center>a {
        font-size: 17px;
    }

    .footer-right>h5 {
        font-size: 20px;
    }

    .footer-right>form {
        /* border: 1px solid red; */
    }

    .footer-right>form>input {
        height: 30px;
    }

    .footer-right>form>textarea {
        height: 70px;
    }

    .btn-container>.footer-form-btn {
        height: 40px;
    }

    .footer-copyright {
        font-size: 16px;
    }
}