* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    /* border: 1px solid red; */
    align-items: center;
    padding: 10px 10%;
    z-index: 998;
    height: 10vh;
    background-color: rgb(253, 253, 253);
}

.header .left {
    display: flex;
    align-items: center;
    width: 20%;
    /* border: 1px solid blue; */
    justify-content: center;
}

.header .left a {
    text-decoration: none;
}

.header .left h3 {
    font-family: 'Playball', cursive;
    font-size: 30px;
    font-weight: 400;
    font-weight: bold;
    color: #1B1464;
}

.header .left h3 span {
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-weight: bold;
    color: #ED7D2B;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 73%;
    /* border: 1px solid yellow; */
    align-items: center;
}

.menu-container .menu-left {
    align-items: center;
    /* border: 1px solid green; */
    width: 70%;
    display: flex;
    justify-content: center;
}

.menu-container .menu-left ul {
    display: flex;
    list-style: none;
}

.menu-container .menu-left ul li {
    margin: 0 13px;
}

.menu-container .menu-left ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(58, 58, 58);
    transition: 0.3s ease-in-out;
}

.menu-container .menu-left ul li a:hover {
    color: white;
    background-color: #ed7c2bb7;
    padding: 3px 10px;
    border-radius: 2px;
}

.menu-container .menu-left ul li .nav-active {
    color: white;
    background-color: #ED7D2B;
    padding: 3px 10px;
    border-radius: 2px;
}

.menu-container .menu-left ul li span {
    display: none;
}

.menu-container .right span {
    font-size: 30px;
    color: rgb(71, 71, 71);
}

#light-mode {
    display: none;
}

.hamburger-menu-container {
    display: none;
}


/* Hero Section */
.hero-section {
    position: relative;
    top: 10vh;
    /* border: 1px solid green; */
    height: 90vh;
    max-width: 100vw;
    display: flex;
    background-image: linear-gradient(to top, #bfdbfef3,
            rgba(255, 255, 255, 0.979)),
        url(../assets/img/background-g088a079f6_1280.png);
    padding: 10% auto;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section .left {
    /* border: 1px solid green; */
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 100%;
    justify-content: center;
    /* border: 1px solid red; */

}

.hero-text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    /* border: 1px solid palevioletred; */
}

.hero-text-container span {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ED7D2B;
    font-weight: 500;
}

.hero-text-container h1 {
    font-size: 49px;
    word-spacing: 5px;
    line-height: 45px;
    color: #1B1464;
    font-weight: 700;
    text-transform: capitalize;
}

.hero-text-container h1 span {
    color: #ED7D2B;
    font-size: 50px;
    font-weight: 700;
}

.hero-text-container h4 {
    font-size: 22px;
    margin-top: 4%;
    color: rgb(70, 70, 70);

}

.autotype-container {
    height: 30px;
    margin-top: 20px;
}

.hero-text-container p {
    font-size: 30px;
    color: #ED7D2B;
    font-weight: 600;
}

.hero-button-container {
    width: 100%;
    /* border: 1px solid red; */
}

.hero-button-link {
    width: 35%;
    text-decoration: none;
}

.hero-button-container {
    width: 100%;
    display: flex;
}

.hero-button-container button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #1B1464;
    color: rgb(230, 230, 230);
    font-size: 17px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.hero-button-container button span {
    font-size: 18px;
    margin-left: 10px;
    transition: 0.5s;
}

.hero-button-container button:hover span {
    transform: rotate(90deg);
}

.hero-section .right {
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    /* border: 1px solid red; */

}

.hero-section .right img {
    width: 100%;
}

/* About Section */
.about-section {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 10% 5%;
    /* background: linear-gradient(to top, #bfdbfef3,
            rgba(237, 252, 247, 0.979)); */
}

.about-section h2 {
    font-size: 33px;
    color: #1B1464;
    font-weight: 600;
}

.about-section h2 span {
    color: #ED7D2B;
}

.about-section .about-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5% 0;
    /* border: 1px solid blue; */
}

.about-container .about-left {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.about-container .about-left img {
    width: 100%;
}

.about-container .about-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
}

.about-right .sub-sec {
    margin: 10px 10px;
}