* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    /* border: 1px solid red; */
    align-items: center;
    padding: 10px 10%;
    z-index: 998;
    height: 10vh;
    background-color: rgb(253, 253, 253);
}

.header .left {
    display: flex;
    align-items: center;
    width: 20%;
    /* border: 1px solid blue; */
    justify-content: center;
}

.header .left a {
    text-decoration: none;
}

.header .left h3 {
    font-family: 'Playball', cursive;
    font-size: 30px;
    font-weight: 400;
    font-weight: bold;
    color: #1B1464;
}

.header .left h3 span {
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-weight: bold;
    color: #00c4c4;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    /* border: 1px solid yellow; */
    align-items: center;
}

.menu-container .menu-left {
    align-items: center;
    /* border: 1px solid green; */
    width: 70%;
    display: flex;
    justify-content: center;
}

.menu-container .menu-left ul {
    display: flex;
    list-style: none;
}

.menu-container .menu-left ul li {
    margin: 0 10px;
}

.menu-container .menu-left ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(58, 58, 58);
}

.menu-container .menu-left ul li span {
    display: none;
}

.menu-container .right span {
    font-size: 30px;
    color: rgb(71, 71, 71);
}

#light-mode {
    display: none;
}

.hamburger-menu-container {
    display: none;
}


/* Hero Section */
.hero-section {
    position: relative;
    top: 10vh;
    /* border: 1px solid green; */
    height: 100vh;
    max-width: 100vw;
    display: flex;
    background: linear-gradient(to top, #bfdbfe96,
            rgba(255, 255, 255, 0.534));
    /* background-color: white; */
    padding: 10% auto;
    justify-content: center;
    align-items: center;
}

.hero-section .left {
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

}

.hero-text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    /* border: 1px solid palevioletred; */
}

.hero-text-container h1 {
    font-size: 55px;
    margin-bottom: 2%;
    word-spacing: 5px;
    line-height: 60px;
    color: #1B1464;
    font-weight: 800;
    text-transform: capitalize;
}

.hero-text-container h4 {
    font-size: 30px;
    margin-top: 2%;
    color: rgb(41, 41, 41);

}

.hero-text-container p {
    font-size: 25px;
}

.hero-button-container {
    width: 100%;
    /* border: 1px solid red; */
}

.hero-section .right {
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../assets/img/background-g088a079f6_1280.png ); */
    /* background-image: linear-gradient(#bfdbfe96,
            rgba(255, 255, 255, 0.534)),
        url(../assets/img/background-g088a079f6_1280.png); */
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.hero-section .right img {
    width: 100%;
}