/* Header */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {

    .header .left {
        width: 40%;
    }

    .header .left h3 {
        font-size: 20px;
    }


    .menu-container {
        position: fixed;
        right: 0px;
        height: 70vh;
        width: 60%;
        z-index: 999;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        top: 0;
        flex-direction: column-reverse;
        padding-left: 20px;
        background-color: rgb(0, 0, 61);
        transition: 0.5s ease-in-out;
        transform: translateX(100%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .menu-container .menu-left {
        height: 70%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        /* border: 2px solid white; */
    }

    .menu-container .menu-left ul {
        flex-direction: column;
        height: 100%;

    }

    .menu-container .menu-left ul li {
        padding: 10px 0;

    }



    .menu-container .menu-left ul li a {
        font-size: 20px;
        color: rgb(214, 214, 214);
    }

    .menu-container .menu-left ul li span {
        display: flex;
        color: white;
        margin-top: 70%;
        font-size: 40px;

    }

    .menu-container .right span {
        color: white;
        margin-left: 30%;
        border: 1px solid white;
        margin-bottom: 40%;
    }

    .hamburger-menu-container {
        display: flex;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .header {
        padding: 10px 5%;

    }

    .header .left h3 {
        font-size: 20px;
    }

    .menu-container {
        width: 70%;
    }

    .menu-container .menu-left ul li {
        margin: 0 5px;
    }

    .menu-container .menu-left ul li a {
        font-size: 18px;
    }

    .menu-container .right span {
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .header .left h3 {
        font-size: 25px;
    }

    .menu-container {
        width: 70%;
    }

    .menu-container .menu-left ul li {
        margin: 0 8px;
    }

    .menu-container .menu-left ul li a {
        font-size: 23px;
    }

    .menu-container .right span {
        font-size: 25px;
    }
}