* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Main Section */
.main-section {
    position: relative;
    top: 10vh;
    max-width: 100vw;
    height: auto;
    padding: 70px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .main-container>h2 {
    width: auto;
    border: 1px solid red;
    text-align: center;
    font-size: 40px;
    color: #1B1464;
} */

.main-container>input {
    margin: 0px 0 50px 0;
    outline: none;
    width: 80%;
    height: 50px;
    border: 1px solid #c2c2c2;
    padding-left: 20px;
    border-radius: 5px;
}

.main-container>input::placeholder {
    font-size: 17px;
    text-transform: initial;
}

.interns-container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 2%;
    width: 90%;
    justify-content: center;
    height: auto;
}

.intern {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 10px;
    padding: 10px 10px;
}

.intern>.intern-top> {
    width: 100%;
}

.intern>.intern-top>img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.intern-bottom {
    padding-top: 20px;
}

.intern-bottom>h4 {
    font-size: 19px;
    font-weight: 600;
    color: #2e2e2e;
    margin-bottom: 10px;
}

.intern-bottom>p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #707070;
}

.intern-socials {
    margin-bottom: 10px;
    display: flex;
}

.intern-socials>a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intern-socials>a:nth-child(1) {
    background-color: #0A66C2;
}

.intern-socials>a:nth-last-child(2) {
    background-color: blue;
}

.intern-socials>a:nth-child(3) {
    background-color: rgb(255, 50, 50);
}

.intern-socials>a>i {
    font-size: 15px;
    color: white;

}

.intern-bottom>button {
    width: 50%;
    height: 35px;
    margin-top: 5px;
    font-size: 13px;
    background-color: #1B1464;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}