/* Main Section */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .main-section {
        padding: 70px 0px;
    }

    .main-container>input {
        height: 35px;
        width: 90%;
        margin-bottom: 20px;

    }

    .interns-container {
        grid-template-columns: repeat(1, 90%);
        width: 100%;
        gap: 0.5%;
        margin-bottom: 100px;
    }

    .intern {
        padding: 4px;
    }

    .intern-bottom>h4 {
        font-size: 16px;
    }

    .intern-bottom>p {
        font-size: 13px;
        font-weight: 600;
    }

    .intern-bottom>button {
        font-size: 12px;
        width: 40%;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .main-section {
        padding: 70px 10pxpx;
    }

    .main-container>input {
        height: 35px;
        width: 90%;
        margin-bottom: 20px;

    }

    .interns-container {
        grid-template-columns: repeat(1, 80%);
        width: 100%;
        gap: 0.5%;
        margin-bottom: 200px;
    }

    .intern {
        padding: 4px;
    }

    .intern-bottom>h4 {
        font-size: 20px;
    }

    .intern-bottom>p {
        font-size: 15px;
    }

    .intern-bottom>button {
        font-size: 13px;
        width: 40%;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .main-section {
        padding: 70px 10pxpx;
    }

    .main-container>input {
        height: 35px;
        width: 90%;
        margin-bottom: 20px;

    }

    .interns-container {
        grid-template-columns: repeat(2, 43%);
        width: 100%;
        gap: 20px;
    }

    .intern {
        padding: 4px;
    }

    .intern-bottom>h4 {
        font-size: 20px;
    }

    .intern-bottom>p {
        font-size: 15px;
    }

    .intern-bottom>button {
        font-size: 13px;
        width: 40%;
    }
}