/* Header */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {

    .header .left {
        width: 40%;
    }

    .header .left h3 {
        font-size: 20px;
    }


    .menu-container {
        position: fixed;
        right: 0px;
        height: 70vh;
        width: 60%;
        z-index: 999;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        top: 0;
        flex-direction: column-reverse;
        padding-left: 20px;
        background-color: rgb(0, 0, 61);
        transition: 0.5s ease-in-out;
        transform: translateX(100%);
        border-radius: 5px;
        margin-top: 20px;
    }

    .menu-container .menu-left {
        height: 70%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        /* border: 2px solid white; */
    }

    .menu-container .menu-left ul {
        flex-direction: column;
        height: 100%;

    }

    .menu-container .menu-left ul li {
        padding: 10px 0;

    }



    .menu-container .menu-left ul li a {
        font-size: 20px;
        color: rgb(214, 214, 214);
    }

    .menu-container .menu-left ul li span {
        display: flex;
        color: white;
        margin-top: 70%;
        font-size: 40px;

    }

    .menu-container .right span {
        color: white;
        margin-left: 30%;
        border: 1px solid white;
        margin-bottom: 40%;
    }

    .hamburger-menu-container {
        display: flex;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .header {
        padding: 10px 5%;

    }

    .header .left h3 {
        font-size: 20px;
    }

    .menu-container {
        width: 70%;
    }

    .menu-container .menu-left ul li {
        margin: 0 5px;
    }

    .menu-container .menu-left ul li a {
        font-size: 18px;
    }

    .menu-container .right span {
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .header .left h3 {
        font-size: 25px;
    }

    .menu-container {
        width: 70%;
    }

    .menu-container .menu-left ul li {
        margin: 0 8px;
    }

    .menu-container .menu-left ul li a {
        font-size: 20px;
    }

    .menu-container .right span {
        font-size: 25px;
    }
}

/* Main Section */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .main-section {
        padding: 50px 10px;
    }

    .profile-img-container {
        width: 100px;
        height: 100px;
    }

    .name-position>h4 {
        font-size: 16px;
        letter-spacing: 0;
    }

    .name-position>p {
        font-size: 14px;
    }

    .info-cont>.row1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 99%;
    }

    .info-cont>.row1>.row1-left {
        width: 100%;
        padding: 15px 10px;
    }

    .info-cont>.row1>.row1-left>h3 {
        font-size: 20px;
    }

    .info-cont>.row1>.row1-left>p {
        font-size: 12px;
        line-height: normal;
        color: #353535;
    }

    .info-cont>.row1>.row1-right {
        width: 100%;
        padding: 15px 10px;
        margin-top: 10px;
    }

    .info-cont>.row1>.row1-right>h3 {
        font-size: 20px;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }

    .skill-img-container {
        margin-right: 20px;
    }

    .skill-img-container>img {
        width: 25px;
    }

    .skills-row>h6 {
        font-size: 18px;
        width: 80%;
        word-wrap: break-word;
    }

    .info-cont>.row2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 99%;
    }

    .info-cont>.row2>.row2-left {
        width: 100%;
        padding: 15px 10px;
    }

    .info-cont>.row2>.row2-left>h3 {
        font-size: 20px;
    }

    .info-cont>.row2>.row2-left>p {
        font-size: 14px;
        line-height: normal;
    }

    .info-cont>.row2>.row2-right {
        margin-top: 10px;
        width: 100%;
        padding: 15px 10px;
    }

    .info-cont>.row2>.row2-right>h3 {
        font-size: 20px;
    }

    .row2-right>.contact-row>i {
        font-size: 15px;
        margin-right: 10px
    }

    .row2-right>.contact-row>span {
        font-size: 15px;
        margin-right: 10px
    }

    .row2-right>.contact-row>p {
        font-size: 15px;
    }

    .portfolio-cont {
        grid-template-columns: repeat(1, 100%);
        gap: 10px;
        margin-top: 10px;
    }

    .portfolio-card {
        margin-top: 0;
    }

    .portfolio-card-det>h5 {
        font-size: 15px;
    }

    .portfolio-card-det>button {
        height: 32px;
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .main-section {
        padding: 50px 10px;
    }

    .profile-img-container {
        width: 150px;
        height: 150px;
    }

    .name-position>h4 {
        font-size: 20px;
        letter-spacing: 0;
    }

    .name-position>p {
        font-size: 16px;
    }

    .info-cont>.row1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-cont>.row1>.row1-left {
        width: 100%;
        padding: 25px 20px;
    }

    .info-cont>.row1>.row1-left>h3 {
        font-size: 25px;
    }

    .info-cont>.row1>.row1-left>p {
        font-size: 15px;
        line-height: normal;
        color: #353535;
    }

    .info-cont>.row1>.row1-right {
        width: 100%;
        padding: 25px 20px;
        margin-top: 10px;
    }

    .info-cont>.row1>.row1-right>h3 {
        font-size: 25px;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }

    .skill-img-container {
        margin-right: 20px;
    }

    .skill-img-container>img {
        width: 25px;
    }

    .skills-row>h6 {
        font-size: 18px;
    }

    .info-cont>.row2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-cont>.row2>.row2-left {
        width: 100%;
        padding: 25px 20px;
    }

    .info-cont>.row2>.row2-left>h3 {
        font-size: 25px;
    }

    .info-cont>.row2>.row2-left>p {
        font-size: 16px;
        line-height: normal;
    }

    .info-cont>.row2>.row2-right {
        margin-top: 10px;
        width: 100%;
        padding: 25px 20px;
    }

    .info-cont>.row2>.row2-right>h3 {
        font-size: 25px;
    }

    .row2-right>.contact-row>i {
        font-size: 20px;
        margin-right: 10px
    }

    .row2-right>.contact-row>span {
        font-size: 20px;
        margin-right: 10px
    }

    .row2-right>.contact-row>p {
        font-size: 17px;
    }

    .portfolio-cont {
        grid-template-columns: repeat(1, 100%);
        gap: 10px;
        margin-top: 10px;
    }

    .portfolio-card {
        margin-top: 0;
    }

    .portfolio-card-det>h5 {
        font-size: 20px;
    }

    .portfolio-card-det>button {
        height: 40px;
        font-size: 13px;
        width: 25%;
        margin-top: 30px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .main-section {
        padding: 100px 30px;
    }

    .info-cont>.row1>.row1-left {
        padding: 20px 10px;
    }

    .info-cont>.row1>.row1-left>p {
        font-size: 15px;
    }

    .info-cont>.row2>.row2-left {
        padding: 20px 10px;
    }


    .info-cont>.row2>.row2-left>p {
        font-size: 14px;
    }

    .info-cont>.row2>.row2-right {
        padding: 20px 10px;
    }

    .row2-right>.contact-row>i {
        margin-right: 10px;
    }

    .row2-right>.contact-row>span {
        margin-right: 10px;
    }

    .row2-right>.contact-row>p {
        font-size: 15px;
    }

    .portfolio-card-det>h5 {
        font-size: 18px;
    }

    .portfolio-card-det>button {
        font-size: 13px;
        height: 38px;
        margin-top: 15px;
    }
}

/* Footer Section */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .footer-section {
        height: auto;
        padding: 20px 10px;
    }

    .footer-main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .footer-left {
        width: 100%;
    }

    .footer-left>a>h2 {
        font-size: 27px;
    }

    .footer-left>h4 {
        font-size: 13px;
    }

    .socials {
        font-size: 17px;
    }

    .socials>a {
        width: 25px;
        height: 25px;
    }

    .footer-center {
        width: 100%;
        text-align: right;
        /* border: 1px solid red; */
        padding-top: 30px;
    }

    .footer-center>.footer-menu {
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .footer-center>.footer-menu>a {
        font-size: 16px;
        margin: 5px 0;
    }

    .footer-copyright {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* border: 1px solid yellow; */
        text-align: center;
    }

    .footer-center>a {
        text-align: right;
        padding: 0 0;
        font-size: 16px;
    }

    .footer-right {
        width: 100%;
        grid-column: span 2;
        margin-top: 70px;
    }

    .footer-right>h5 {
        font-size: 20px;
        text-align: center;
    }

    .footer-right>form>input {
        width: 85%;
        height: 50px;
    }

    .footer-right>form>textarea {
        width: 85%;
        height: 120px;
    }

    .footer-right>form>.btn-container {
        width: 85%;
        height: 60px;
    }

    .btn-container>.footer-form-btn {
        height: 50px;
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 720px) {
    .footer-section {
        height: auto;
        padding: 20px 24px;
    }

    .footer-main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .footer-left {
        width: 100%;
    }

    .footer-left>a>h2 {
        font-size: 35px;
    }

    .footer-left>h4 {
        font-size: 13px;
    }

    .footer-center {
        width: 100%;
        text-align: right;
        /* border: 1px solid red; */
        padding-top: 30px;
    }

    .footer-center>.footer-menu {
        padding: 0;
        margin: 0;
        text-align: right;
        border: 1px solid red;
        justify-content: flex-end;
    }

    .footer-center>.footer-menu>a {
        font-size: 19px;
        margin: 5px 3px;
    }

    .footer-copyright {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* border: 1px solid yellow; */
        text-align: center;
    }

    .footer-center>a {
        text-align: right;
        padding: 0 0;
        font-size: 19px;
    }

    .footer-right {
        width: 100%;
        grid-column: span 2;
        margin-top: 70px;
    }

    .footer-right>h5 {
        font-size: 35px;
        text-align: center;
    }

    .footer-right>form>input {
        width: 85%;
        height: 50px;
    }

    .footer-right>form>textarea {
        width: 85%;
        height: 120px;
    }

    .footer-right>form>.btn-container {
        width: 85%;
        height: 60px;
    }

    .btn-container>.footer-form-btn {
        height: 50px;
        font-size: 16px;
    }
}

@media only screen and (min-device-width: 721px) and (max-device-width: 1023px) {
    .footer-section {
        height: auto;
        padding: 20px 24px;
    }

    .footer-main {
        /* border: 1px solid black; */
        align-items: flex-start;
    }

    .footer-left {
        /* border: 1px solid red; */
        height: 100%;
    }

    .footer-left>a>h2 {
        font-size: 35px;
    }

    .footer-center>.footer-menu>a {
        font-size: 17px;
    }

    .footer-center>a {
        font-size: 17px;
    }

    .footer-right>h5 {
        font-size: 20px;
    }

    .footer-right>form {
        /* border: 1px solid red; */
    }

    .footer-right>form>input {
        height: 30px;
    }

    .footer-right>form>textarea {
        height: 70px;
    }

    .btn-container>.footer-form-btn {
        height: 40px;
    }

    .footer-copyright {
        font-size: 16px;
    }
}