* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    /* border: 1px solid red; */
    align-items: center;
    padding: 10px 10%;
    z-index: 998;
    height: 10vh;
    background-color: rgb(253, 253, 253);
}

.header .left {
    display: flex;
    align-items: center;
    width: 20%;
    /* border: 1px solid blue; */
    justify-content: center;
}

.header .left a {
    text-decoration: none;
}

.header .left h3 {
    font-family: 'Playball', cursive;
    font-size: 30px;
    font-weight: 400;
    font-weight: bold;
    color: #1B1464;
}

.header .left h3 span {
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-weight: bold;
    color: #ED7D2B;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 73%;
    /* border: 1px solid yellow; */
    align-items: center;
}

.menu-container .menu-left {
    align-items: center;
    /* border: 1px solid green; */
    width: 70%;
    display: flex;
    justify-content: center;
}

.menu-container .menu-left ul {
    display: flex;
    list-style: none;
}

.menu-container .menu-left ul li {
    margin: 0 13px;
}

.menu-container .menu-left ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(58, 58, 58);
    transition: 0.3s ease-in-out;
}

.menu-container .menu-left ul li a:hover {
    color: white;
    background-color: #ed7c2bb7;
    padding: 3px 10px;
    border-radius: 2px;
}

.menu-container .menu-left ul li .nav-active {
    color: white;
    background-color: #1B1464;
    padding: 3px 10px;
    border-radius: 2px;
}

.menu-container .menu-left ul li span {
    display: none;
}

.menu-container .right span {
    font-size: 30px;
    color: rgb(71, 71, 71);
    cursor: pointer;
}

#light-mode {
    display: none;
}

.hamburger-menu-container {
    display: none;
}

/* Main Section */

.main-section {
    height: auto;
    position: relative;
    top: 10vh;
    padding: 100px;
    max-width: 100vw;
}

.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    width: 100%;
}

.profile-img-container {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile-img-container>img {
    width: 100%;
    border-radius: 100px;
}

.name-position {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-position>h4 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #1B1464;
}

.name-position>p {
    font-size: 16px;
    color: #4e4e4e;
}

.profile-bottom {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-cont>.row1 {
    display: flex;
    justify-content: space-between;
}


.info-cont>.row1>.row1-left {
    width: 39.5%;
    padding: 30px 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid rgb(109, 109, 109);
    background-color: white;
    border-radius: 5px;
}

.info-cont>.row1>.row1-left>h3 {
    font-size: 28px;
    color: #1B1464;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.info-cont>.row1>.row1-left>p {
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #4e4e4e;
}

.info-cont>.row1>.row1-right {
    width: 59.5%;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: #1B1464;
    border-radius: 5px;
}

.info-cont>.row1>.row1-right>h3 {
    font-size: 28px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    color: white;
}

.skills-container {
    width: 100%;
}

.skills-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px auto;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 10px;
}

.skill-img-container {
    margin-right: 30px;
    width: 15%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img-container>img {
    width: 30px;
}

.skills-row>h6 {
    font-size: 22px;
    color: rgb(212, 212, 212);
    letter-spacing: 3px;
    font-weight: 500;
}



.info-cont>.row2 {
    display: flex;
    /* border: 1px solid yellow; */
    margin-top: 10px;
    justify-content: space-between;
}

.info-cont>.row2>.row2-left {
    width: 59.5%;
    /* border: 1px solid royalblue; */
    border-radius: 5px;
    padding: 30px 20px;
    color: white;
    background-color: #ED7D2B;
}

.info-cont>.row2>.row2-left>h3 {
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.info-cont>.row2>.row2-left>p {
    font-size: 16px;
    color: rgb(230, 230, 230);
    line-height: 20px;
    font-weight: 400px;
}

.info-cont>.row2>.row2-right {
    width: 39.5%;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 5px;
    padding: 30px 20px;
    background-color: white;
}

.info-cont>.row2>.row2-right>h3 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #1B1464;
}

.row2-right>.contact-row {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.row2-right>.contact-row>i {
    margin-right: 20px;
    /* border: 1px solid red; */
    font-size: 25px;
}

.row2-right>.contact-row>span {
    margin-right: 20px;
}

.row2-right>.contact-row>p {
    font-size: 20px;
    width: 90%;
    word-wrap: break-word;
}

.portfolio-cont {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 32.8%);
    justify-content: center;
    gap: 0.8%;

}

.portfolio-card {
    border: 2px solid rgb(109, 109, 109);
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;

}

.portfolio-card>img {
    width: 100%;
}

.portfolio-card-det {
    margin-top: 20px;
    padding: 0 10px 10px 10px;
}

.portfolio-card-det>h5 {
    font-size: 20px;
    color: #4e4e4e;
}

.portfolio-card-det>button {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #1B1464;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}


/* Footer Section */
.footer-section {
    position: relative;
    top: 10vh;
    padding: 20px 50px;
    max-width: 100vw;
    height: auto;
    background-color: #C7DFFE;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

.footer-main {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: flex-start;
    height: 90%;
}

.footer-left {
    width: 30%;
    /* border: 1px solid pink; */
    height: 100%;
}

.footer-left>a {
    text-decoration: none;
}

.footer-left>a>h2 {
    font-family: 'Playball', cursive;
    font-size: 45px;
    font-weight: 400;
    font-weight: bold;
    color: #1B1464;
    margin-bottom: 10px;
}

.footer-left>a>h2>span {
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-weight: bold;
    color: #ED7D2B;
}

.footer-left>h4 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.socials {
    font-size: 25px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */

}

.socials>a {
    margin: 0 6px;
    border-radius: 50px;
    background-color: #026E00;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.socials>a>span {
    font-size: 35px;
}

.footer-center {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
    align-items: center;
    text-align: left;
    justify-content: flex-end;
    /* border: #026E00 2px solid; */
    height: 100%;
}

.footer-center>.footer-menu {
    width: 100%;
    display: flex;
    padding: 0 13%;
    margin: 5px 0;
}

.footer-center>.footer-menu>a {
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #4e4e4e;
}

.footer-center>a {
    width: 100%;
    margin: 5px 0;
    font-size: 20px;
    /* border: 3px solid magenta; */
    text-decoration: none;
    text-transform: capitalize;
    /* font-weight: 500; */
    color: #4e4e4e;
    padding: 0 15%;
}

.footer-right {
    /* border: 1px solid rebeccapurple; */
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.footer-right>h5 {
    font-size: 25px;
    font-weight: 500;
    color: #1B1464;
    margin-bottom: 10px;
}

.footer-right>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
}

.footer-right>form>input {
    width: 70%;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    border: 2px solid rgb(163, 163, 163);
    background-color: white;
    padding-left: 20px;
}

.footer-right>form>textarea {
    width: 70%;
    border-radius: 5px;
    height: 100px;
    margin-top: 10px;
    border: 2px solid rgb(163, 163, 163);
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}

.footer-right>form>.btn-container {
    width: 70%;
    margin-top: 10px;
    height: 40px;
}

.btn-container>.footer-form-btn {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    background-color: #1B1464;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

hr {
    border: 0.5px solid rgb(110, 110, 110);
    width: 100%;
    margin: 20px 0;
}

.footer-copyright {
    font-size: 20px;
}